/* .NewToDoForm{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.NewToDoForm input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;

}

.NewToDoForm button{
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}


.NewToDoForm button:hover{
    background: #ff5e5e;
}

.NewToDoForm input, 
.NewToDoForm button
{
    height: 3rem;
} 





 */




.NewToDoForm input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
    width: 160px;
}

.NewToDoForm button{
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.NewToDoForm button:hover{
    background: #ff5e5e;
}

.NewToDoForm input, 
.NewToDoForm button
{
    height: 3rem;
}
