

 .NewToDoForm {
    display: flex;
    margin: 0 -3em 4px;
    padding: 1.1em 3em;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

/* .todo-buttons {
    flex-shrink: 0;
    padding-left: 0.7em;
} */

.NewToDoForm button{
    border: none;
    font-size: 1em;
    margin: 0.7em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
}

.bi1 {
    margin-left: 250px;
}

.NewToDoForm{
    display: flex;
    flex-wrap: wrap;
}

.NewToDoForm input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}

.NewToDoForm button{
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.NewToDoForm button:hover{
    background: #ff5e5e;
}

.NewToDoForm input, 
.NewToDoForm button
{
    height: 3rem;
}


